@mixin grande($size) {font-size: $size;width: $size;}

body {height:100%;}

#wrap {
    .col {
        float: left;
    .a{
        text-decoration: none;
      }
    }
}

    

    


.pepe {@include grande(3pt);}

