body{padding: 0; margin: 0; font-size: 20px;font-family: arial;}

header {border:1px solid red;}
header div > img{width: 100px; height: 100px;border:1px solid red;display: inline-block;}
header div, header nav{display: inline-block;}
header nav ul>li{display: inline-block;border:1px solid red;background: red; color:white;}
header nav ul>li a {color:white;text-decoration: none;}

section{padding: 1em;}
section article{border:1px solid red;margin: 2em;padding: 0,5em;}
section article div{display: inline-block;}
section article p{display: inline-block;width: 60%;vertical-align: top;}
section article div>img {width: 200px; height: 200px; display: inline-block;background: red;}

@media print{
    body{font-size: 1em;}
    header nav ul>li{border-color: grey;background-color: blue;}
    section article{border-color: green;}
}
/*@media screen and (max-width: 750px) and (min-width: 450px) {
    header nav ul>li{border:5px solid blue;}
}*/

@media screen and (max-width: 640px) {
    header nav ul {overflow: hidden; display: none;}
    header nav button:hover + ul{display: block; position: absolute;}
}
@media screen and (min-width: 641px) {
    header nav button{display: none;}
}